@model CoreWebApp2.Models.Sql.SitesDB

@{
    ViewData["Title"] = "Ayrıntılar";
}

<h2>Ayrıntılar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SiteName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SiteName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BaseUrl)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BaseUrl)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearchUrlPart1)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearchUrlPart1)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SearcUrlPart2)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SearcUrlPart2)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RepatedItem)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RepatedItem)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameChilds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameChilds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NameAttribute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NameAttribute)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceChilds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceChilds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceChildsTwo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceChildsTwo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PriceAttribute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PriceAttribute)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkChilds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkChilds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkAttribute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkAttribute)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LinkExtra)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LinkExtra)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageChilds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageChilds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ImageAttribute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ImageAttribute)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerChilds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellerChilds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SellerAttribute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SellerAttribute)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SatisfactionChilds)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SatisfactionChilds)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SatisfactionAttribute)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SatisfactionAttribute)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SiteId">Düzenle</a> |
    <a asp-action="Index">Geri</a>
</div>
